{% load static %}

<html>
    <head>
        <title>Statistics</title>
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "css/customcss.css" %}">
    </head>
    <body>
        <!-- bootstrap js -->
        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="col-xs-10 col-sm-offset-1">
                <div class="container-fluid">
                    <div class="navbar-header">
						<img src="http://dragonh.tech/static/Heisenberg_T.png" height="50px" class="pull-left">
                        <a class="navbar-brand" href="#">Los Pollos Hermanos</a>
                    </div>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/statistics">Statistics</a></li>
                    <li><a href="/visualisation">Visualisation</a></li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container">
             {% block content %}{% endblock %}
        </div>

    <div class="footer text-center">
        <p> Authors: Luka Krsnik, Ožbolt Menegatti, Sandi Mikuš, Primož Godec | May 2017 </p>
    </div>

    </body>

</html>