{% extends "basic.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <p class="scoretitle">Best users</p>
        <div class="panel panel-default">

            <!-- Table -->
            <table class="table">
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <p class="scoretitle">Best attackers</p>
        <div class="panel panel-default">

            <!-- Table -->
            <table class="table">
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
            </table>
        </div>

        <p class="scoretitle">Worst victims</p>
        <div class="panel panel-default">

            <!-- Table -->
            <table class="table">
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>Score1</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}

</div>
