{% extends "basic.html" %}

{% block content %}

<div id="canvas-container">
        <canvas class="col-xs-12" id="c" >
        </canvas>
    </div>

    <p>fdsaf</p>
    <script src="{% static "js/fabric.min.js" %}"></script>
    <script>
        (function() {
            var canvas = this.__canvas = new fabric.StaticCanvas('c');

            canvas.setHeight(600);
            canvas.setWidth($('#canvas-container').width() );

            // compute max radius of a user circle
            var pi = 3.14;
            var minhw = Math.min(canvas.getWidth(), canvas.getHeight());
            var num_users = 8; // todo

            // radius of a big circle
            var max_circ_size = (pi * minhw) / (num_users * (1 + pi));
            var big_radius = minhw - 20;


            var user_circles = [];

            for (var i = 0; i < 2 * pi; i += 2 * pi / num_users)
            {
                var size = max_circ_size / 2;
                c = new fabric.Circle({
                        top: canvas.getHeight() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.sin(i) - size,
                        left: canvas.getWidth() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.cos(i) - size,
                        radius: size,
                        fill: 'green' })
                user_circles.push(c);
                canvas.add(c,);
            }
/*
             function animate() {
                canvas.item(0).animate('top', canvas.item(0).getTop() === 500 ? '100' : '500', {
                    duration: 1000,
                    onChange: canvas.renderAll.bind(canvas),
                    onComplete: animate
                });
             }
             animate();*/
        })();
    </script>

{% endblock %}