{% extends "basic.html" %}
{% load static %}

{% block content %}

<div id="canvas-container">
        <canvas class="col-xs-12" id="c" >
        </canvas>
    </div>

    <script src="{% static "js/fabric.min.js" %}"></script>
    <script>
        (function() {

            var last_call_time = new Date();
            last_call_time.setSeconds(last_call_time.getSeconds() - 2);

            init_image = function (data) {


                data_users = data['gamers']['users_points']
                console.log(data_users);

                var max_points = - Infinity;
                for (var i in data_users) {
                    p = Math.abs(data_users[i]['points']);
                    if (p > max_points)
                        max_points = p
                }

                var canvas = this.__canvas = new fabric.StaticCanvas('c');

                canvas.setHeight(700);
                canvas.setWidth($('#canvas-container').width() );

                // compute max radius of a user circle
                var pi = 3.14;
                var minhw = Math.min(canvas.getWidth(), canvas.getHeight());
                var num_users = Object.keys(data_users).length


                // radius of a big circle
                var max_circ_size = (pi * minhw) / (num_users * (1 + pi));
                var big_radius = minhw - 20;

                var user_circles = [];
                var i = 0;
                var min_circle_size = 20;

                for (k in data_users)
                {
                    angle = k * 2 * pi / num_users;
                    p = data_users[k]['points'];
                    console.log(p);
                    var size = max_circ_size * 0.7 * Math.abs(p) / max_points + min_circle_size;

                    c = new fabric.Circle({
                            top: canvas.getHeight() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.sin(angle) - size,
                            left: canvas.getWidth() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.cos(angle) - size,
                            radius: size,
                            fill: p > 0 ? '#59ff59' : '#ff9191' })
                    user_circles.push(c);
                    console.log(p > 0 ? '#5990ff' : '#ff9191')

                    rect_h = 20;
                    rect_w = size * 2 + 5;
                    p = data_users[k]['attack_points'] + data_users[k]['victim_points'];
                    ratio = data_users[k]['attack_points'] / p;
                    r1 = new fabric.Rect({
                            top: canvas.getHeight() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.sin(angle) - rect_h / 2,
                            left: canvas.getWidth() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.cos(angle) - rect_w / 2,
                            width: rect_w * ratio,
                            height: rect_h,
                            fill: 'green' });

                    r2 = new fabric.Rect({
                            top: canvas.getHeight() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.sin(angle) - rect_h / 2,
                            left: canvas.getWidth() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.cos(angle) - rect_w / 2 + rect_w * ratio,
                            width: rect_w * (1 - ratio),
                            height: rect_h,
                            fill: 'red' });

                    score = new fabric.Text(data_users[k]['points'].toString(), {
                            left: canvas.getWidth() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.cos(angle),
                            top: canvas.getHeight() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.sin(angle) + size + 15,
                            fill: 'black',
                            originX: "center",
                            originY: "center",
                            fontFamily: "Arial",
                            fontSize: 20
                    });

                    user = new fabric.Text(data_users[k]['username'].toString(), {
                            left: canvas.getWidth() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.cos(angle),
                            top: canvas.getHeight() / 2 + (big_radius - 2 * max_circ_size) / 2 * Math.sin(angle) - size - 15,
                            fill: 'black',
                            originX: "center",
                            originY: "center",
                            fontFamily: "Arial",
                            fontSize: 20
                    });

                    canvas.add(c, r1, r2, score, user);

                    i++;
                }
            }

            var update_fun = function() {
                $.ajax({
                        url: 'http://localhost:8000/api',
                        type: 'GET',
                        data: {last_update: last_call_time.toISOString(),},
                        success: function (data) { init_image(data) }
                });
                ast_call_time = new Date();
            }

            update_fun();

            var timer_var = setInterval(update_timer, 2000);

            function update_timer() {
                // make animations here

                update_fun();
            }

})();
    </script>

{% endblock %}